<div class="clear"></div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <strong>3dimensional AG</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                {{ with ($.Site.GetPage "page" "configuration/footer.md") }}{{ .Params.column_1 | markdownify }}{{ end }}
            </div>
            <div class="col-4">
                {{ with ($.Site.GetPage "page" "configuration/footer.md") }}{{ .Params.column_2 | markdownify }}{{ end }}
                <div class="spacer-4x"></div>
            </div>
            <div class="col-4">
                {{ with ($.Site.GetPage "page" "configuration/footer.md") }}{{ .Params.column_3 | markdownify }}{{ end }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div class="social-media">
                    <a href="https://www.instagram.com/3dimensional.ch/" target="_blank" title="Instagram" rel="noopener"><img src="./images/uploads/if_Intsagram.svg" alt="Instagram"></a>
                    <!--<a href="#"><img src="./images/uploads/if_Facebook.svg"></a>-->
                    <!--<a href="#"><img src="./images/uploads/if_Twitter.svg"></a>-->
                    <!--<a href="#"><img src="./images/uploads/if_Pinterest.svg"></a>-->
                </div>
                <div class="spacer-4x"></div>
                <div>
                    <a href="/imprint/">Impressum</a> |
                    <a href="/terms/">AGB</a> |
                    <a href="/disclaimer/">Disclaimer</a>
                </div>
                <div class="spacer-5x"></div>
            </div>
        </div>
        <div class="spacer-8x"></div>
    </div>
</footer>