.customers{
  margin: 0;
  padding: 0 1.8rem;
  border: none;
  text-align: left;
  column-count: 1;
  column-gap: 3.8rem;

  @include media(">phone") {
    column-count: 2;
  }

  @include media(">tablet") {
    column-count: 3;
  }
}
