body.team {
	  background-color: $c-white;
}

.team {
	.biography,
	.contact {
		text-align: left;
	}

	.staffimage {
		display: inline-block;
		margin: 0 auto 2rem auto;
	}

	table {
		td:first-child {
			font-weight: 700;
			padding-right: 40px;
		}
		margin-bottom: 3rem;
	}

	p {
		margin: 0;
	}

	h1 {
		margin-bottom: 0;
	}

	h4 {
		margin: 3rem 0;
	}
}
