<!doctype html>
{{ partial "head-3dimensional" }}
<html lang="de">
{{ partial "head-site" . }}
{{ partial "body" (dict "context" . "hero" true) }}
<div class="wrapper home">
    <div role="complementary">
        <div id="animated-grid" class="rellax" data-rellax-speed="-0.5">
            {{ partial "svg/grid" . }}
        </div>
        <div id="slides" class="hero rellax" data-rellax-speed="-1">
            <div class="slide showing" data-src="{{ with ($.Site.GetPage "page" "configuration/landingpage.md") }}{{ .Params.slide1_image }}{{ end }}">
                <div class="claim {{ with ($.Site.GetPage "page" "configuration/landingpage.md") }}{{ .Params.slide1_color }}{{ end }}">
                    <div class="container">
                        <h1 class="rellax" data-rellax-speed="-1">{{ with ($.Site.GetPage "page" "configuration/landingpage.md") }}{{ .Params.slide1_claim }}{{ end }}</h1>
                    </div>
                </div>
            </div>
            <div class="slide" data-src="{{ with ($.Site.GetPage "page" "configuration/landingpage.md") }}{{ .Params.slide2_image }}{{ end }}">
                <div class="claim {{ with ($.Site.GetPage "page" "configuration/landingpage.md") }}{{ .Params.slide2_color }}{{ end }}">
                    <div class="container">
                        <h1 class="rellax" data-rellax-speed="-1">{{ with ($.Site.GetPage "page" "configuration/landingpage.md") }}{{ .Params.slide2_claim }}{{ end }}</h1>
                    </div>
                </div>
            </div>
            <div class="slide" data-src="{{ with ($.Site.GetPage "page" "configuration/landingpage.md") }}{{ .Params.slide3_image }}{{ end }}">
                <div class="claim {{ with ($.Site.GetPage "page" "configuration/landingpage.md") }}{{ .Params.slide3_color }}{{ end }}">
                    <div class="container">
                        <h1 class="rellax" data-rellax-speed="-1">{{ with ($.Site.GetPage "page" "configuration/landingpage.md") }}{{ .Params.slide3_claim }}{{ end }}</h1>
                    </div>
                </div>
            </div>
            <div class="slide" data-src="{{ with ($.Site.GetPage "page" "configuration/landingpage.md") }}{{ .Params.slide4_image }}{{ end }}">
                <div class="claim {{ with ($.Site.GetPage "page" "configuration/landingpage.md") }}{{ .Params.slide4_color }}{{ end }}">
                    <div class="container">
                        <h1 class="rellax" data-rellax-speed="-1">{{ with ($.Site.GetPage "page" "configuration/landingpage.md") }}{{ .Params.slide4_claim }}{{ end }}</h1>
                    </div>
                </div>
            </div>
            <div class="slide" data-src="{{ with ($.Site.GetPage "page" "configuration/landingpage.md") }}{{ .Params.slide5_image }}{{ end }}">
                <div class="claim {{ with ($.Site.GetPage "page" "configuration/landingpage.md") }}{{ .Params.slide5_color }}{{ end }}">
                    <div class="container">
                        <h1 class="rellax" data-rellax-speed="-1">{{ with ($.Site.GetPage "page" "configuration/landingpage.md") }}{{ .Params.slide5_claim }}{{ end }}</h1>
                    </div>
                </div>
            </div>
            <div class="slide" data-src="{{ with ($.Site.GetPage "page" "configuration/landingpage.md") }}{{ .Params.slide6_image }}{{ end }}">
                <div class="claim {{ with ($.Site.GetPage "page" "configuration/landingpage.md") }}{{ .Params.slide6_color }}{{ end }}">
                    <div class="container">
                        <h1 class="rellax" data-rellax-speed="-1">{{ with ($.Site.GetPage "page" "configuration/landingpage.md") }}{{ .Params.slide6_claim }}{{ end }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ partial "header" . }}

    <div role="main">

        <div class="stripe gray">
            <div class="spacer-5x"></div>
            <div class="container">
                <article class="main introduction">
                    {{ .Content }}
                </article>
            </div>
        </div>

        <div class="stripe white">
            <div class="container main">
                <article>
                    <img src="{{ with ($.Site.GetPage "page" "configuration/landingpage.md") }}{{ .Params.quote1_image }}{{ end }}-/resize/600x/" alt="3D Strukturen">
                    <cite>
                        {{ with ($.Site.GetPage "page" "configuration/landingpage.md") }}{{ .Params.quote1 }}{{ end }}
                    </cite>
                </article>
            </div>
        </div>

        <div class="stripe">
            <div class="container projects main">
                <article>
                    <h2>Referenzen</h2>
                    <ul class="cards">
                        {{ $collection := (where .Site.Pages "Section" "projects") }}
                        {{ range first 6 ($collection.ByParam "position") }}
                        {{ .Render "card" }}
                        {{ end }}
                    </ul>
                    <div class="clear"></div>
                </article>
            </div>
        </div>

        <div class="stripe black">
            <div class="container main">
                <article>
                    <cite>
                        {{ with ($.Site.GetPage "page" "configuration/landingpage.md") }}{{ .Params.quote2 }}{{ end }}
                    </cite>
                </article>
            </div>
        </div>

        <div class="stripe">
            <div class="container team main">
                <article>
                    <h2>Team</h2>
                    <div class="cards">
                        {{ $collection := (where .Site.Pages "Section" "team") }}
                        {{ range ($collection.ByParam "position") }}
                        {{ .Render "card" }}
                        {{ end }}
                    </div>
                    <div class="clear"></div>
                </article>
            </div>
        </div>

        <div class="stripe gray">
            <div class="container">
                <article>
                    <h2>3dimensional auf Instagram</h2>
                    <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
                    <iframe src="//lightwidget.com/widgets/f8777cf4d5c8560a9e09943a10de4cd1.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
                </article>
                <div class="clear"></div>
            </div>
        </div>

        <div class="stripe">
            <div class="container">
                <h2>Kunden</h2>
                <article class="text-left customers">
                    {{ $alfa := (slice "A" "B" "C" "D" "E" "F" "G" "H" "I" "J" "K" "L" "M" "N" "O" "P" "Q" "R" "S" "T" "U" "V" "W" "X" "Y" "Z") }}
                    {{ $collection := sort (where .Site.Pages "Section" "customers") ".File.LogicalName" }}
                    {{ range $alfa }}
                    <ul class="no-bullet">
                        {{ $current := . }}
                        <li class="text-heading">{{ $current }}</li>
                        {{ range $collection }}
                        {{ if eq (lower (substr .Params.title 0 1)) (lower $current) }}
                        <li>{{ .Params.title }}</li>
                        {{ end }}
                        {{ end }}
                    </ul>
                    {{ end }}
                </article>
            </div>
        </div>

        <div class="stripe gray">
            <div class="container main">
                <article>
                    <cite>
                        {{ with ($.Site.GetPage "page" "configuration/landingpage.md") }}{{ .Params.quote3 }}{{ end }}
                    </cite>
                </article>
            </div>
        </div>
    </div>

    {{ partial "footer" . }}

</div>

</body>
{{ partial "schema/global" . }}
{{ partial "javascript" . }}
</html>
         