<!doctype html>
<html lang="de">
    {{ partial "head-single" . }}
    {{ partial "body" . }}
        <div class="wrapper">

            {{ partial "header" . }}

            <div class="container main">
                <div class="project">
                    <article role="main">
                        {{ if .Params.image }}
                            <div class="text-center">
                                <span class="gallery-shortcut">
                                    <img src="{{ .Params.image }}-/scale_crop/800x600/center/" alt="{{ .Params.imageAlt }}" title="{{ .Params.imageAlt }}" class="projectimage">
                                    <div class="gallery-poster"><img src="./zoom.png" alt="Bild vergrössern"></div>
                                </span>
                            </div>
                        {{ end }}

                        <div class="icons bigger text-center">
                            {{ if eq .Params.concept true }}
                                {{ partial "icon" (dict "context" . "icon" "bulb") }}
                            {{ end }}
                            {{ if eq .Params.planning true }}
                                {{ partial "icon" (dict "context" . "icon" "ruler") }}
                            {{ end }}
                            {{ if eq .Params.implementation true }}
                                {{ partial "icon" (dict "context" . "icon" "saw") }}
                            {{ end }}
                        </div>

                        {{ partial "link-prev-next" . }}

                        <h1 class="has-nav">{{ .Title }}</h1>

                        {{ if .Params.teaser }}
                        <h2 class="teaser text-center">{{ .Params.teaser }}</h2>
                        {{ end }}

                        <div class="description">
                            {{ .Content }}
                        </div>

                        {{ if .Params.reference }}
                            <h2>Link</h2>
                            <a href="{{ .Params.customerUrl }}" rel="noopener" target="_blank">{{ .Params.customerName }}</a>
                        {{ end }}

                        <div class="cont">
							<div class="page-head">
								<div class="gallery">
                                {{ if or (.Params.projectpictures) (.Params.image) }}
								<ul id="lightgallery">
                                  {{ if .Params.image }}
                                    <li data-responsive="#" data-src="{{ .Params.image }}-/resize/1400/">
                                        <span>
                                            <img src="{{ .Params.image }}-/scale_crop/400x300/center/" title="Projektbild">
                                            <div class="gallery-poster">
                                                <img src="./zoom.png" alt="Bild vergrössern">
                                            </div>
                                        </span>
                                    </li>
                                  {{ end }}
                                  {{ if .Params.projectpictures }}
                                      {{ range .Params.projectpictures }}
                                          <li data-responsive="#" data-src="{{ . }}-/resize/1400/">
                                            <span>
                                              <img src="{{ . }}-/scale_crop/400x300/center/" title="Projektbild">
                                              <div class="gallery-poster">
                                                <img src="./zoom.png" alt="Bild vergrössern">
                                              </div>
                                            </span>
                                          </li>
                                      {{ end }}
                                    {{ end }}
							    </ul>
							    {{ end }}
							  </div>
							</div>
                        </div>
                    </article>

                </div>
            </div>

            {{ partial "footer" . }}

        </div>
    </body>
    {{ partial "javascript" . }}
</html>
